server:
  port: 8000

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/answerly?useSSL=false&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver


